body {
    font-family: 'EB Garamond', serif;
}

h1, h2, h3 {
    font-family: 'EB Garamond', serif;
}

h1 {
    font-size: 9em;
}


@media (max-width: 992px){
    h1 {
        font-size: 6em;
    }
} 


@media (max-width: 768px){
    h1 {
      font-size: 4em;
    }
} 

.navbar-nav {
    min-width: 80%;
}

.navbar-nav > li {
    min-width: 25%;
}

.spacer {
    min-height: 10%;
}

.main-heading {
    padding-top: 20%;
    padding-bottom: 10%;
    line-height: .9em;
}

.main-image {
    
}

.sub-heading {
    padding-right: 40%;
}

.navbar-brand {
    border-style: solid;

}